.profile-dropdown {
    position: relative;
    cursor: pointer;
}

.profile {
    display: flex;

    span {
        margin-left: 5px;
        font-size: 20px;
    }

    svg {
        font-size: 30px;
    }

    .username {
        text-transform: capitalize;
    }

}

.dropdown-content {
    position: absolute;
    top: 30px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 220px;
    right: 0;
    transition: all 0.5s ease;

    ul {
        width: 100%;

        li {
            margin-bottom: 5px;
        }
    }
}